.notesContainer {
  display: flex;
  justify-content: space-between;
}

.noteActionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteSortingIcon {
  color: #d8c479;
  font-size: 30px;
  cursor: pointer;
  font-weight: 500;
}

@media screen and (min-device-width: 360px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .notesContainer {
    display: flex;
    flex-direction: column !important;
  }
  .noteActionsContainer {
   flex-direction: column!important;
   align-items: start;
  }
  .noteSearchInput{
    margin: 15px 0px!important;
  }
}
