.singleNoteContainer {
  width: 170px;
  border: 2px solid #d8c479;
  padding: 5px;
  margin-top: 15px !important;
  position: relative;
}

.identifierFirstLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-weight: 500;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d8c479;
}

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  margin-left: 8px !important;
}

.timestamp {
  margin-top: 10px !important;
  display: flex;
  align-items: center;
  font-size: 12px !important;
  font-weight: 500;
}

.icon {
  color: #d8c479;
}

.removeIcon {
  position: absolute;
  top: -15px;
  right: -7%;
  color: #d8c479;
  cursor: pointer;
}

@media screen and (min-device-width: 360px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .singleNoteContainer {
    width: auto !important;
  }
}
